{% assign products_per_page = 24 %}
{% if section.settings.show-featured-product  %}
  {% assign products_per_page = products_per_page | plus: 1 %}
{% endif %}
{% paginate collection.products by products_per_page %}

{% assign products_per_row = section.settings.products-per-row %}
{% if section.settings.layout-type == 'collage' %}
  {% assign products_per_row = '2' %}
{% endif %}
{% assign column_width = 12 | divided_by: products_per_row %}

{% assign show_title = false %}
{% if collection.title.size > 0 %}
  {% assign show_title = true %}
{% endif %}

{% assign show_featured_image = false %}
{% if section.settings.show-featured-image and collection.image %}
  {% assign show_featured_image = true %}
{% endif %}

{% assign show_description = false %}
{% if collection.description.size > 0 %}
  {% assign show_description = true %}
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="collection_page" data-js-class="CollectionPage">

  {% if show_title or show_featured_image or show_description %}
    <header class="text-align--center">
      {% if show_featured_image %}
        <div class="image-title-wrapper">
          <img class="featured-image" src="{{ collection | img_url: 'original' }}" alt="{{ collection.image.alt }}" />

          {% if show_title %}
          <h1 class="page-title with-image font--heading fw--align--center-y">{{ collection.title }}</h1>
          {% endif %}
        </div>
      {% endif %}

      {% unless show_featured_image %}
        <h1 class="page-title font--heading spacing--4y">{{ collection.title }}</h1>
      {% endunless %}

      {% if show_description %}
        <div class="description text-align--center spacing--4y font--size-4 wide">
          {{ collection.description }}
        </div>
      {% endif %}
      <div class="spacer spacing--5y show--medium-large"></div>
    </header>

  {% endif %}

  {% if collection.products.size < 1  %}
    <div class="no-product text-align--center colored-links">
      {{ 'collections.no_products_feedback_html' | t }}
    </div>

    <section class="product-grid layout-type--grid fw--blocks clear-after--medium-3 clear-after--large-3">
      {% for i in (1..6) %}
        <div class="block width--medium-4 spacing--3x">
          <div class="partial--product view--grid">
            {% include "framework--placeholder", type: "product", aspect_ratio: "800x800", placeholder_index: i %}

            <div class="caption">
              <h2 class="title font--subheading">
                {{ 'collections.placeholder.title' | t }}
              </h2>

              <p class="price font--accent">
                From <span class="actual-price money">{{ 'collections.placeholder.price' | t }}</span>
              </p>
            </div> <!-- .caption -->

          </div> <!-- .partial--product.view--grid -->
        </div> <!-- .block -->
       {% endfor %}
    </section> <!-- .product-grid -->

  {% endif %}


  <div class="">
    {% if section.settings.show-featured-product %}

      {% for product in collection.products limit: 1 %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
        <div class="featured-product">
          {% include 'partial--product' with 'featured' %}
        </div>
        <div class="spacer spacing--6y"></div>

      {% endfor %}

    {% endif %}

    <section class="product-grid layout-type--{{ section.settings.layout-type }} fw--blocks clear-after--medium-{{ products_per_row }} clear-after--large-{{ products_per_row }}" data-ie8-clear-after="{{ products_per_row }}">
      {% assign row_count = 0 %}
      {% for product in collection.products %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}

        {% assign view_type = 'grid' %}
        {% if section.settings.layout-type == 'collage' %}
          {% assign view_type = 'collage' %}
        {% endif %}

        {% assign column_index = forloop.index %}

        {% if section.settings.show-featured-product %}
          {% assign column_index = forloop.index | minus: 1 %}
          {% if forloop.first == true %}
            {% continue %}
          {% endif %}
        {% endif %}

        {% assign row_boolean = column_index | plus: 1 | divided_by: 2 | ceil | modulo: 2 %}

        {% assign column_index = column_index | modulo: products_per_row %}
        {% if column_index == 0 %}
          {% assign column_index = products_per_row %}
        {% endif %}

        {% assign odd_or_even = 'odd' %}
        {% assign even = column_index | modulo:2 %}
        {% if even == 0 and view_type == 'collage' %}
          {% assign odd_or_even = 'even' %}
        {% endif %}

        {% assign use_collage_width = false %}


        {% if view_type == 'collage' and products_per_row == '2' %}
          {% assign use_collage_width = true %}
          {% if row_boolean == 1 %}
            {% if odd_or_even == 'odd' %}
              {% assign collage_column_width = column_width | plus: 1 %}
            {% else %}
              {% assign collage_column_width = column_width | minus: 1 %}
            {% endif %}
          {% else %}
            {% if odd_or_even == 'even' %}
              {% assign collage_column_width = column_width | plus: 1 %}
            {% else %}
              {% assign collage_column_width = column_width | minus: 1 %}
            {% endif %}
          {% endif %}
        {% endif %}


        <div class="block width--medium-{% if use_collage_width %}{{ collage_column_width }}{% else %}{{ column_width }}{% endif %} spacing--3x">
          {% if section.settings.layout-type == 'grid' %}
            {% include 'partial--product' with 'grid' %}
          {% else %}
            {% include 'partial--product' with 'collage' %}
          {% endif %}
        </div>
      {% endfor %}
    </section>

    <div class="spacing--3y"></div>

    {% if paginate.pages > 1 %}
      <footer>
        <div class="width--12 text-align--center">
          {% include 'framework--pagination' %}
        </div>
      </footer>
      <div class="spacing--3y"></div>
    {% endif %}

  </div>
  {% endpaginate %}

</div>

{% schema %}
{
  "name": "Collection page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show-featured-image",
      "label": "Show featured image",
      "default": true,
      "info": "This refers to the collection image"
    },
    {
      "type": "checkbox",
      "id": "show-featured-product",
      "label": "Show first product as a featured product",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show-vendor",
      "label": "Show product's vendor name",
      "default": false,
      "info": "e.g. Apple, Shopify"
    },
    {
      "type": "radio",
      "id": "layout-type",
      "label": "View type",
      "options": [
        { "value": "grid", "label": "Grid" },
        { "value": "collage", "label": "Collage" }
      ],
      "default": "grid",
      "info": "Collage view displays 2 products per row"
    },
    {
      "type": "select",
      "id": "products-per-row",
      "label": "Products per row for grid view",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ],
      "default": "2"
    }
  ]
}
{% endschema %}